div {
	display: block;
}

.NavTapManager_NavContainer {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.NavTapManager_Main {
	padding-top: 60;
	padding-bottom: 0;
}

.serchResultContainer {
	margin-top: 100;
}

.searchResultSection {
	padding: 0 0 32px;
}

.SectionWithHeader {
	padding: 8px 0 0;
}

.sectionHeaderGrid {
	
}

.sectionRow {
	margin: 0 20px;
}

.SectionWithHeader {
	overflow: hidden;
}

.SectionWithHeader_Title {
	font-size: 19px;
	font-weight: 700;
	-webkit-letter-spacing: -0.7px;
	-moz-letter-spacing: -0.7px;
	-ms-letter-spacing: -0.7px;
	letter-spacing: -0.7px;
	line-height: 28px;
	float: left;
	color: #000;
	margin: 8px 0;
}

.SectionWithHeader_TopRight {
	float: right;
}

.SectionWithViewMore {
	margin: 12px 0;
}

.ViewMoreA {
	color: #ff2f6e;
	text-decoration: none;
	background-color: transparent;
}

.HorizontalScrollerContainer {
	position: relative;
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.DividerSection {
	margin: 0 20px;
	border: 0;
	border-bottom: 1px solid #f0f0f0;
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

.SectionContainerGrid {
	
}

.HorizontalUlWithPosterList {
	margin: 14px 0 0;
	white-space: nowrap;
	margin-right: -5px !important;
	margin-left: -5px !important;
	list-style: none;
	padding: 0;
}

.ContentListItemWithPoster {
	width: 13%;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	padding: 0 5px;
	margin: 0 0 24px;
	list-style: none;
}

.PostContainer {
	display: inline-block;
	text-decoration: none;
	width: 100%;
	background-color: transparent;
}

.ContentListItemWithPosterBlock {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 144.76190476190476%;
}

.LoadingImage {
	position: relative;
	background: #f8f8f8;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	border: solid 1px rgba(0, 0, 0, 0.08);
	border-radius: 3px;
}

.LoadingImage_Image {
	vertical-align: top;
	width: 100%;
	height: 100%;
	opacity: 1;
	-webkit-transition: 300ms;
	transition: 300ms;
	object-fit: cover;
	border-style: none;
}

.ContentListItemWithPosterContentInfo {
	text-align: left;
	margin: 8px 0 0;
}

.SearchResultSection_Title {
	font-size: 15px;
	font-weight: 400;
	-webkit-letter-spacing: -0.5px;
	-moz-letter-spacing: -0.5px;
	-ms-letter-spacing: -0.5px;
	letter-spacing: -0.5px;
	line-height: 20px;
	color: #1f1f1f;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
}

.SearchResultSection_ExtraInfo {
	font-size: 13px;
	font-weight: 400;
	-webkit-letter-spacing: -0.2px;
	-moz-letter-spacing: -0.2px;
	-ms-letter-spacing: -0.2px;
	letter-spacing: -0.2px;
	line-height: 18px;
	color: #a0a0a0;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
}

.SearchResultSection_Genre {
	font-size: 12px;
	font-weight: 400;
	-webkit-letter-spacing: -0.2px;
	-moz-letter-spacing: -0.2px;
	-ms-letter-spacing: -0.2px;
	letter-spacing: -0.2px;
	line-height: 16px;
	color: #a0a0a0;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
}

.sectionNoSearchResult {
	text-align: center;
	font-size: 15px;
	margin: 50px;
}